div.ui.container.Input {
  display: inline-block;
  width: 25em;
}


div.ui.input input {
  padding: .5em;
  font-size: 1.3em;
  border-radius: .2em;
  text-align: center;
  background-color: #303030;
  outline-color: #630077;
  color: #fff;
  border: none;
}

div.ui.input input:focus {
  color: #fff;
  box-shadow: none;
  background-color: #303030;
}