div.ui.container.Input {
  margin-top: 1em;
}


div.ui.input input {
  width: 30vw;
  height: 1em;
  padding: .5em;
  font-size: 1.3em;
  border-radius: .2em;
  text-align: center;
  background-color: #303030;
  outline-color: #630077;
  color: #fff;
  border: none;
}

div.ui.input input:focus {
  box-shadow: none;
}