section.UserInterface {
  display: inline-block;
  position: relative;
  margin-top: 1em;
}

div.Input {
  display: inline-block;
  width: 25em;
}

div.ui.input input {
  padding: .5em;
  font-size: 1.3em;
  border-radius: .2em;
  text-align: center;
  background-color: #303030;
  outline-color: #630077;
  color: #fff;
  border: none;
}

div.ui.input input:focus, div.ui.input input:active {
  color: #fff;
  box-shadow: none;
  background-color: #303030;
}

div.ui.input input::selection {
  background: #54c8ff;
  color: hsla(0, 0%, 100%, 0.8);
}

div.ui.input input:disabled {
  cursor: pointer;
}

div.Timer {
  display: inline-block;
  position: absolute;
  margin-left: 1em;
  height: 90%;
  bottom: 5%;
}

div.Timer button.ui.button.animated {
  height: 90%;
}

div.Timer button.ui.button.animated:hover,
div.Timer button.ui.button.animated:focus {
  background-color: black;
  box-shadow: 0 0 0 2px #54c8ff inset!important;
  color: #54c8ff;
}
