div.Timer {
  display: inline-block;
  margin-left: 1em;
  transform: translateY(-.3em);
}

div.Timer button.ui.button.animated:hover,
div.Timer button.ui.button.animated:focus {
  background-color: black;
  box-shadow: 0 0 0 2px #54c8ff inset!important;
  color: #54c8ff;
}

div.Timer input.hidden {
  display: none;
}