section.View {
  width: auto;
  max-width: 80vw;
  border-radius: .2em;
  padding: .5em 2em .7em;
  display: inline-block;
  background-color: #212121;
  user-select: none;
}

section.View:hover {
  cursor: inherit;
}
