span.Word {
  font-size: 1.5em;
  display: inline-block;
  color: hsla(0, 0%, 100%, 0.6);
  /* padding-bottom: .3rem; */
}

span.Word:first-of-type {
  padding-right: .5rem;
}

span.Word:not(:first-of-type) {
  padding: 0 .5rem;
}

span.Word.active {
  color: hsla(0, 0%, 100%);
  border-bottom: 2px solid white;
  /* Custom bottom border solution? */
}

span.Word.correct {
  color: #26a65b;
  border-bottom: 2px solid #26a65b;
}

span.Word.incorrect {
  color: #fd1d1d;
  border-bottom: 2px solid #fd1d1d;
}